<template name="notes">
<button class="new-note btn btn-default">New note</button>
<ul>
  {{#each notes}}
  <li><a href="{{pathFor 'note' id=this._id}}">{{this.title}}</a></li>
  {{/each}}
</ul>
</template>

<template name="note">
  <h2 class="note-title" contenteditable>{{title}}</h2>
  <div id="note-{{_id}}" class="note">
    {{#each lines}}
      {{> line}}
    {{/each}}
  </div>
  <p>debug: {{self}}</p>
</template>

<template name="line">
<span class="parent"><p id="line-{{_id}}" class="line" contenteditable>{{{text}}}</p></span>
</template>

