<head>
  <meta name="viewport" content="width=device-width, user-scaleable=no, initial-scale=1.0"
</head>
   

   <template name="login">
    <div class="text-vcenter">
        <img class="title-image center-block" width="80%" src="/images/clarity_logo_word.png" alt="Clarity Notes" />
        <div class="errors">
            {{errors}}
        </div>
        <form class="form">
            <div id="login-email-input" class="login-input-container">
                <input id="login-email" class="login-input-box center-block" type="email" placeholder="Email">
            </div>
            <div id="login-password-input" class="login-input-container">
                <input id="login-password" class="login-input-box center-block" type="password" placeholder="Password">
            </div>
            <div class="login-button login-button-form-submit" id="login-buttons-password">
                <button id="login-button" class="btn-primary login-btn AvenirNextMedium center-block">Sign in</button>
            </div>
            <div class="login-button login-button-form-submit" id="login-buttons-password">
                <button id="login-button-google" class="btn-primary login-btn googleplus center-block">Sign in with <span class="AvenirNextDemi">Google</span>
                </button>
            </div>
        </form>
        <div class="additional-link-container login-links text-center">
            <a class="login-links login-links-top" href="#">Having trouble signing in?</a>
        </div>
        <div class="additional-link-container login-links text-center">
            <a id="signup-button" class="login-links login-links-bottom AvenirNextDemi" href="#">New to Clarity Notes? Create a free account!</a>
        </div>
    </div>
</template>